* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #e7f6ff;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 1300px;
  height: 1300px;
  margin: 60px auto;
  background-color: #ffffff;
  border-radius: 15px;
}

