* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  background-color:white;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

.wrapper {
  /* width: 1200px; */
  height: auto;
  margin: auto;
}

.cards {
  width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 26px;
  grid-row-gap: 20px;
}







@media screen and (max-width: 1024px) {

  .cards {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 88px;
    /* justify-content: space-between; */
  }


}

@media screen and (max-width: 768px) {

  .cards {
    width: calc(100% - 60px);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 148px;
  }

}
@media screen and (max-width: 425px) {

  .cards {
    width: calc(100% - 42px);
    grid-column-gap: 12px;
  }

  .skeleton {
    width: 185px;
    height: 240px;
    /* justify-content: space-between; */
  }


}

@media screen and (max-width: 375px) {

  .cards {
    width: calc(100% - 30px);
  }

  .skeleton {
    width: 165px;
    height: 214px;
  }


}


